<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB84YvvHpzry8Vt9SttaElZOIlZSLTLleg</string>
	<key>GCM_SENDER_ID</key>
	<string>133524587104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.layananKependudukan</string>
	<key>PROJECT_ID</key>
	<string>layanan-kependudukan</string>
	<key>STORAGE_BUCKET</key>
	<string>layanan-kependudukan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133524587104:ios:a67f4be38782528b32b905</string>
</dict>
</plist>